//custom variables

$primary: #5265E1;
$secondary: #FA5959;
$light: white;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

$navbar-light-toggler-icon-bg: url("/media/icon-hamburger.svg");
$navbar-light-toggler-border-color: white;

$accordion-button-icon: url('/media/icon-arrow.svg');

$nav-underline-link-active-color: $secondary;
$nav-underline-border-width: 0.2rem;
$nav-link-color: grey;

@import "../node_modules/bootstrap/scss/bootstrap.scss"


